
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: .3s;
    background: var(--primary);
    border-bottom: 1px solid var(--light-black);


}



header.moved .header-body {
    padding: 15px 0;

}


.header-container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-body {
    padding: 34px 0;
    gap: 145px;
    align-items: center;
    transition: .3s;
    position: relative;
    z-index: 2;

}


.header-logo-mobile{
    display: none;
}
.logo {
    flex: 1 1 auto;
    gap: 7px;
}

.logo-text{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 25.79px;
    line-height: 28.06px;
    text-align: center;
    color: var(--white);

}

.menu-bg {
    display: none;
}

.menu-list {
    gap: 40px;
}

.menu-link {
    text-align: center;
    color: var(--white);
    transition: .3s;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;


}

.menu-link:hover {
    color: var(--gold);

}


.header-actions {
    gap: 10px;
    margin-left: auto;
}

.btn-login {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    color: var(--black);
    transition: 0.3s ease-in-out;
    padding: 12px 31px;
    border-radius: 10px;
    border: 0.5px solid var(--white2);
    background-color: var(--white);
}

.btn-login:hover {
    background: var(--gold);
    border: 0.5px solid var(--white3);
    box-shadow: 0px 4px 25px 0px rgba(255, 204, 74, 0.45);

}

.btn-register {
    padding: 12px 31px;
    background: var(--gold);
    border-radius: 10px;
    text-align: center;
    color: var(--black);
    transition: 0.3s ease-in-out;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;



}

.btn-register:hover {
    box-shadow: 0px 4px 25px 0px var(--dark-gold);


}


.header-mobile-actions {
    display: none;
}

.menu-content-mobile {
    display: none;
}


.burger {
    display: none;
}


@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

    .menu {
        margin-left: 0;
    }

    .header-body {
        gap: 50px;
    }

    .menu-list {
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .burger.active {
        position: relative;
        transition: .3s;
        z-index: 3;
    }


    .menu-list {
        margin-top: 50px;
        flex-direction: column;
        gap: 12px;
        flex: 1 1 auto;
    }

    .menu-item {
        width: 100%;
    }

    .menu-link {
        width: 100%;
        padding: 6px 0;
        border-bottom: 1px solid #939393;
        text-align: start;
        color: var(--white);

    }

    .menu-bg {
        background: #000000BF;
        backdrop-filter: blur(6px);
        position: fixed;
        right: -200%;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        transition: .3s;
        display: block;

    }

    .burger {
        flex: 0 0 23px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        transition: .3s;
        z-index: 4;
    }

    .burger span {
        width: 23px;
        display: block;
        height: 2px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    header {
        border-bottom: 1px solid var(--gray);
    }

    .header-body {
        border: none;
        padding: 21px 0;
    }

    .burger::after {
        width: 23px;
        content: '';
        display: block;
        height: 2px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 23px;
        content: '';
        display: block;
        height: 2px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .menu-content-mobile {
        display: block;
        padding: 80px 0 24px;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 8px;
        position: relative;
        background: var(--white);


    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 7px;
        position: relative;
        background: var(--white);

    }

    .menu-bg.active {
        right: 0;
    }

    .menu {
        position: fixed;
        right: -200%;
        top: 0;
        width: 100%;
        height: 100vh;
        transition: .3s;
        z-index: 3;
        padding: 16px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
    }


    .menu.active {
        right: 0;
    }


}

@media (max-width: 768px) {


}

@media (max-width: 576px) {
    .header-actions {
        display: none;
    }
    .header-logo-mobile{
        display: flex;
    }
    .header-mobile-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .decor-animation{
        display: none;
    }


    .header-decor::after {
        display: none;
    }


}

@media (max-width: 400px) {

}